.dialog__card {
  display: flex;
  justify-content: center;
}

.dialog__single-dish {
  overflow-y: scroll;
}

.dish-list__dialog-ingredients {
  list-style: inside;
  margin-bottom: 10px;
}

.dish-dialog__image {
  width: 300px;
  object-fit: cover;
  height: 300px;
  margin-bottom: 10px;
}
